 <!-- <div class="styling" style="height:610px !important; width:100%!important;background-color: #E5E5E5 !important;"> -->
 <!-- <div class="styling">  -->
<!-- <div class="row"> -->

  <div class="container"> 
   
      <!--  <div class="col-md-12 col-sm-12 col-xs-12">  -->
            <div class="loginpage styling">
            
                <!--<div ng-show="error" class="alert alert-danger">{{error}}</div>
                <form name="form" ng-submit="login()" role="form">-->
                    <div class="form-group setting marginsetting">
                        <input type="text" name="username" id="username" class="form-control   username" ng-model="username" required placeholder=" username" />
                    </div>
                    <div class="form-group setting">
                       <input type="password" name="npassword" id="npassword" class="form-control  password" ng-model="npassword" required placeholder=" password" />
                    </div>
                    <div class="form-actions" >
                      <button id="tapchange" type="button" ng-click="AppCtrl.authun(2);" style="height:45px !important;" class="btn  btn-default padset">SIGN IN</button>
                   	  <br><a href="#" ng-click="forgotpassword(1);"  style="color:grey; float:right"><u>Forgot Password</u></a>
                   	 <!--  <div class="logologin"></div> -->
                    </div>
                    
                <!--</form>-->
            </div>
          </div> 
    <!-- </div> -->
 <!-- </div>  -->
<!-- </div> -->