<div class="redbg">

	<div class="imgback imgbackdiv" ng-click="AppCtrl.changePage(2)"></div>
	<div class="text-center">
		<p class="pclass" style="margin-left:-12px !important;">VOTE</p>
	</div>
	<!-- <div class="fa fa-sign-out logoutdiv" ng-click="AppCtrl.changePage(1)">

	</div> -->
	<div class="imgham logoutdiv" ng-click="toggle()"></div>
                <div id="rightpanel" pageslide ps-open="checked1" ps-push="true" style="background-color:#2a2a2a" ps-auto-close = "checked2">
                    <div style="padding:20px" id="demo-right">
                  <ul>
                    	 <li id="abimg" class="slidemenu" ng-click="AppCtrl.changePage(9);"><img class="aboutimage"/><label class="labelpanel">About</label></li>
                          <li id="notimg" class="slidemenu" ng-click="notifscreen(7);"><img class="notifimage"/><label class="labelpanel">Notifications</label></li>
   						  <li id="logimg" class="slidemenu" ng-click="logout(1)"><img class="signoutimage"/><label class="labelpanel">Sign Out</label></li>
   						   <li id="setimg" class="slidemenu" ng-model="collapsed" ng-click="collapsed=!collapsed"><img class="settingimage"/><label class="labelpanel">Settings</label>
							<ul ng-show="collapsed">
   								 <li class="slidesubmenu" ng-click="AppCtrl.changePage(6);"><label class="labelpanel lab">Change Password</label></li>
    							
    						</ul>
   						  </li> 
    				</ul> 
    				    		      
                      <!--   <a ng-click="toggle()" class="button" >Close</a> -->
                    </div>
                </div>

</div>
<div class="greybg" id="tabs" ng-click="togglebody();">
	<button class="butpropvote feedhw" ng-click="AppCtrl.changePage(3)">Feedback</button>
	<button class="butprop votehw">Vote</button>
	<button class="butpropfunct functhw" ng-click="topfunc(5)">Top
		5 Functionalities</button>
</div>
<div class="lightgrey" ng-click="togglebody();">
	<label style="margin-left: 12px; margin-top: 5px;  font-size: 11px;">Please vote
		amongst the following functionalities!!</label>
</div>
<div
	style="background-color: white !important; height: 480px !important;" ng-click="togglebody();">
	<ul style="margin-top:10px !important;" ng-repeat="func in newfunctionality.NewFeedbackList.list track by $index">
	<li id="a{{func.id}}" class="livote" ng-click="voting(func.id,$index);"><img id="{{func.id}}" class="tick" style="display:none;"/><label class="labelvote">{{func.description}}</label></li>
	</ul>

<div class="form-actions">
			<button id="tapchange" type="button" ng-click="sendVoting(8)"
				style="height: 45px !important; padding-top:10px;"
				class="btn  btn-default padset">Submit</button>
		</div>
</div>